<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mageeyang.android.common"
    android:versionCode="1"
    android:versionName="0.0.1">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <application>

    </application>

</manifest>
